<!-- S04 · Figma node 956:11313 -->
<section id="specialists" class="specialists" aria-labelledby="specialists-heading">
  <div class="specialists__intro">
    <div class="specialists__collage">
      <img
        class="specialists__collage-photo"
        src="/assets/img/specialists/collage-photo.png"
        [alt]="specialists.collageAlt"
        loading="lazy"
        decoding="async"
        width="456"
        height="485"
      />
      <img
        class="specialists__collage-badges"
        src="/assets/img/specialists/collage-badges.png"
        alt=""
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        width="527"
        height="398"
      />
    </div>

    <div class="specialists__text">
      <h2 id="specialists-heading" class="specialists__heading">
        <span class="specialists__scribble" aria-hidden="true">
          <img src="/assets/icons/specialists/scribble.svg" alt="" />
        </span>
        {{ specialists.headingPrefix }}<span class="specialists__highlight">
          <img class="specialists__highlight-bg" src="/assets/icons/specialists/heading-highlight-bg.svg" alt="" aria-hidden="true" />
          <span>{{ specialists.headingHighlight }}</span>
        </span>
      </h2>
      <p class="specialists__subhead">{{ specialists.subhead }}</p>
      <p class="specialists__chips-intro">{{ specialists.chipsIntro }}</p>

      <div class="chip-wrap">
        @for (chip of specialists.chips; track chip.label) {
          <span class="chip">
            {{ chip.label }}
            <img src="/assets/icons/specialists/chip-calendar.svg" alt="" aria-hidden="true" />
          </span>
        }
        <a class="chip-link" [href]="specialists.allSpecialistsLink.href">
          {{ specialists.allSpecialistsLink.label }}
          <img src="/assets/icons/specialists/link-external.svg" alt="" aria-hidden="true" />
        </a>
      </div>
    </div>
  </div>

  <ul
    class="practitioner-rail"
    #rail
    [class.practitioner-rail--at-start]="atStart()"
    [class.practitioner-rail--at-end]="atEnd()"
    (scroll)="onRailScroll(rail)"
  >
    @for (p of specialists.practitioners; track p.name) {
      <li class="practitioner-card">
        <div class="practitioner-card__head">
          <picture>
            <source [srcset]="p.avatarWebp" type="image/webp" />
            <img class="practitioner-card__avatar" [src]="p.avatar" [alt]="p.name" width="64" height="64" loading="lazy" decoding="async" />
          </picture>
          <div class="practitioner-card__info">
            <h3 class="practitioner-card__name">{{ p.name }}</h3>
            <p class="practitioner-card__specialty">{{ p.specialty }}</p>
          </div>
        </div>
        <div class="practitioner-card__divider" aria-hidden="true">
          <span class="practitioner-card__divider-line"></span>
          <img class="practitioner-card__divider-icon" src="/assets/icons/specialists/icon-info-diamond.svg" alt="" />
          <span class="practitioner-card__divider-line"></span>
        </div>
        <p class="practitioner-card__meta">
          <img src="/assets/icons/specialists/icon-id-verified.svg" alt="" aria-hidden="true" />
          <span>{{ p.credential }}</span>
        </p>
        <p class="practitioner-card__meta">
          <img src="/assets/icons/specialists/icon-diploma.svg" alt="" aria-hidden="true" />
          <span>{{ p.experience }}</span>
        </p>
      </li>
    }
  </ul>

  <div class="rail-nav">
    <button class="rail-nav__arrow" type="button" [disabled]="atStart()" [attr.aria-label]="ui.prev" (click)="scrollRail(rail, 1)">
      <img [src]="atStart() ? '/assets/icons/specialists/arrow-right.svg' : '/assets/icons/specialists/arrow-right-active.svg'" alt="" />
    </button>
    <span class="rail-nav__dots" aria-hidden="true">
      @for (dot of dots; track $index) {
        <span class="rail-nav__dot" [class.rail-nav__dot--active]="$index === activeDotIndex()"></span>
      }
    </span>
    <button class="rail-nav__arrow" type="button" [disabled]="atEnd()" [attr.aria-label]="ui.next" (click)="scrollRail(rail, -1)">
      <img [src]="atEnd() ? '/assets/icons/specialists/arrow-left-disabled.svg' : '/assets/icons/specialists/arrow-left.svg'" alt="" />
    </button>
  </div>
</section>
